* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-image: url(../assets/Foto-de-emap.jpg);
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* header */
.container {
    max-width: 1769px;
    margin: 0 auto;
}
.content {
    min-height: 80px;
    background: linear-gradient(
        90deg,
        rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%
    );
}
.menu {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}
.logo {
    font-size: 25px;
    color: #ffffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 5px;
    color: #DEDEDE;
    display: block;
    font-weight: bold;    
}
.menu .navbar ul li a:hover {
    color: #ffffffff;
}

h1 {
    margin: 80px 0 0 350px;
}

.navbar{
    justify-content: flex-end;
    display: flex;
}

.container-icon{
    position: absolute;
}
.count-product{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #ffffffff;
    width: 25px;
    height: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.cart-product{
    display: flex;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.cart-total{
    font-size: 20px;
    font-weight: 900;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}



.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

#cont-productos{
    font-size: 12px;
}

.icon-close{
    width: 25px;
    height: 25px;
}


.icon-close:hover{
    stroke:red;
    cursor: pointer;
}


.hidden-cart{
    display: none;
}





/* MAIN */
.container-items{
    display: flex;
    font-weight: bold;
    padding: 20px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    background-color: blue;
}


.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

img{
    max-width: 100%;
}
.container-icon{
    display: flex;
    padding: 20px 21px 0 0;
    width: 66px;
    right: 29px;
}

.img-01{
    height: 300px;
    display: flex;
}
.img-01 img{
    width: 100%;
    margin: 0 400px 0 400px;
}

h1{
    margin: 0 auto;
}


.item img{
    width: 100%;
    height: 200px;
}

#principal{
    height: 1200px;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 1px solid rgba(0, 0, 0, 0.20);
}



.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #ffffffff;
    padding: 15px 10px;
    cursor: pointer;
}
/* footer */
.container-foot{
    height: 300px;
    position: absolute;
    bottom: 0;
}

.sect-foot{
    display: flex;
    justify-content: center;
    padding: 200px 0 0 0;
}

/*# sourceMappingURL=main.css.map */
